# Load / Transform weather stations datasets

In [156]:
import pandas as pd

from datetime import datetime, timedelta

## Loading weather stations

In [157]:
header = ['data_hora', 'nivel', 'chuva']

weather_stations = {
    'alfredo_wagner': pd.read_csv('..\data\ceops_v1\AlfredoVagner.csv', names=header, header=0, parse_dates=['data_hora']),
    'apiuna': pd.read_csv('..\data\ceops_v1\Apiuna.csv', names=header, header=0, parse_dates=['data_hora']),
    'benedito_novo': pd.read_csv('..\data\ceops_v1\BeneditoNovo.csv', names=header, header=0, parse_dates=['data_hora']),
    'blumenau': pd.read_csv('..\data\ceops_v1\Blumenau.csv', names=header, header=0, parse_dates=['data_hora']),
    #'botuvera': pd.read_csv('..\data\ceops_v1\Botuvera_itajai_mirim.csv', names=header, header=0, parse_dates=['data_hora']),
    #'brusque': pd.read_csv('..\data\ceops_v1\Brusque_itajai_mirim.csv', names=header, header=0, parse_dates=['data_hora']),
    'gaspar': pd.read_csv('..\data\ceops_v1\Gaspar.csv', names=header[0:-1], header=0, parse_dates=['data_hora'], usecols=[0, 1]),
    'ibirama': pd.read_csv('..\data\ceops_v1\Ibirama.csv', names=header, header=0, parse_dates=['data_hora']),
    'indaial': pd.read_csv('..\data\ceops_v1\Indaial.csv', names=header, header=0, parse_dates=['data_hora']),
    'ituporanga': pd.read_csv('..\data\ceops_v1\Ituporanga.csv', names=header, header=0, parse_dates=['data_hora']),
    'pouso_redondo': pd.read_csv('..\data\ceops_v1\PousoRedondo.csv', names=header, header=0, parse_dates=['data_hora']),
    'rio_do_oeste': pd.read_csv('..\data\ceops_v1\RioDoOeste.csv', names=header, header=0, parse_dates=['data_hora']),
    'rio_dos_cedros': pd.read_csv('..\data\ceops_v1\RioDosCedros.csv', names=header, header=0, parse_dates=['data_hora']),
    'rio_do_sul': pd.read_csv('..\data\ceops_v1\RioDoSul.csv', names=header, header=0, parse_dates=['data_hora']),
    'taio': pd.read_csv('..\data\ceops_v1\Taio.csv', names=header, header=0, parse_dates=['data_hora']),
    'timbo': pd.read_csv('..\data\ceops_v1\Timbo.csv', names=header, header=0, parse_dates=['data_hora']),
    #'vidal_ramos': pd.read_csv('..\data\ceops_v1\VidalRamos_itajai_mirim.csv', names=header, header=0, parse_dates=['data_hora']),
}

## Analyzing DataSets

### Analyzing Alfredo Wagner

In [4]:
weather_stations['alfredo_wagner'].head()

            data_hora  nivel  chuva
0 2009-07-24 08:00:00  0.141    0.0
1 2009-07-24 08:15:00  0.141    0.0
2 2009-07-24 08:30:00  0.142    0.0
3 2009-07-24 08:45:00  0.141    0.0
4 2009-07-24 09:00:00  0.142    0.0

In [5]:
weather_stations['alfredo_wagner'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240474 entries, 0 to 240473
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  240474 non-null  datetime64[ns]
 1   nivel      240474 non-null  float64
 2   chuva      240474 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.5 MB

In [6]:
weather_stations['alfredo_wagner'][weather_stations['alfredo_wagner'].duplicated()]

                 data_hora  nivel  chuva
4382   2009-09-08 01:00:00  0.261  3.556
4383   2009-09-08 01:15:00  0.261  8.130
4384   2009-09-08 01:30:00  0.261  1.524
4385   2009-09-08 01:45:00  0.261  0.762
4522   2009-09-09 11:00:00  0.269  0.000
...                    ...    ...    ...
94434  2012-02-08 23:30:00  0.636  0.000
94435  2012-02-08 23:45:00  0.653  0.000
94436  2012-02-09 00:00:00  0.655  0.000
134770 2013-04-04 10:30:00  0.434  0.000
186119 2014-10-07 13:30:00  0.398  0.000

[23106 rows x 3 columns]

In [7]:
print(weather_stations['alfredo_wagner'][weather_stations['alfredo_wagner'].data_hora.isna()])
print(weather_stations['alfredo_wagner'][weather_stations['alfredo_wagner'].nivel.isna()])
print(weather_stations['alfredo_wagner'][weather_stations['alfredo_wagner'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [8]:
print(weather_stations['alfredo_wagner'][weather_stations['alfredo_wagner'].nivel < 0])
print(weather_stations['alfredo_wagner'][weather_stations['alfredo_wagner'].chuva < 0])

                 data_hora  nivel  chuva
7347   2009-10-14 09:15:00 -2.380  0.000
38246  2011-02-27 10:30:00 -2.620  0.508
38247  2011-02-27 10:45:00 -2.605  0.000
38248  2011-02-27 11:00:00 -2.545  0.000
38249  2011-02-27 11:15:00 -2.532  0.000
...                    ...    ...    ...
141794 2013-06-16 14:30:00 -0.006  0.000
141795 2013-06-16 14:45:00 -0.006  0.000
141796 2013-06-16 15:00:00 -0.006  0.000
141797 2013-06-16 15:15:00 -0.006  0.000
141799 2013-06-16 15:45:00 -0.004  0.000

[11477 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Apiuna

In [9]:
weather_stations['apiuna'].head()

            data_hora  nivel  chuva
0 2008-12-28 10:15:00  0.562    0.0
1 2008-12-28 14:30:00  0.559    0.0
2 2008-12-28 14:45:00  1.198    3.9
3 2008-12-28 15:00:00  1.196    0.0
4 2008-12-28 15:15:00  1.193    0.0

In [10]:
weather_stations['apiuna'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379588 entries, 0 to 379587
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  379588 non-null  datetime64[ns]
 1   nivel      379588 non-null  float64
 2   chuva      379588 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 8.7 MB

In [11]:
weather_stations['apiuna'][weather_stations['apiuna'].duplicated()]

                 data_hora  nivel  chuva
81282  2011-06-17 11:45:00  1.138    0.0
81283  2011-06-17 12:00:00  1.134    0.0
81284  2011-06-17 12:15:00  1.130    0.0
81285  2011-06-17 12:30:00  1.158    0.0
81286  2011-06-17 12:45:00  1.146    0.0
...                    ...    ...    ...
285658 2017-11-02 05:00:00  1.287    0.0
285659 2017-11-02 05:15:00  1.287    0.0
285660 2017-11-02 05:30:00  1.289    0.0
285661 2017-11-02 05:45:00  1.287    0.0
285662 2017-11-02 06:00:00  1.282    0.0

[3501 rows x 3 columns]

In [12]:
print(weather_stations['apiuna'][weather_stations['apiuna'].data_hora.isna()])
print(weather_stations['apiuna'][weather_stations['apiuna'].nivel.isna()])
print(weather_stations['apiuna'][weather_stations['apiuna'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [13]:
print(weather_stations['apiuna'][weather_stations['apiuna'].nivel < 0])
print(weather_stations['apiuna'][weather_stations['apiuna'].chuva < 0])

                data_hora  nivel  chuva
4844  2009-04-02 12:00:00 -2.500  0.000
4845  2009-04-02 12:15:00 -2.500  0.000
4846  2009-04-02 12:30:00 -2.500  1.524
4847  2009-04-02 12:45:00 -2.500  0.000
4848  2009-04-02 13:00:00 -2.500  0.000
...                   ...    ...    ...
58464 2010-10-28 06:00:00 -2.945  0.000
58465 2010-10-28 06:15:00 -2.947  0.000
58466 2010-10-28 06:30:00 -2.950  0.000
58467 2010-10-28 06:45:00 -2.952  0.000
58468 2010-10-28 07:00:00 -2.956  0.000

[1744 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Benedito Novo

In [14]:
weather_stations['benedito_novo'].head()

            data_hora  nivel  chuva
0 2012-11-05 09:30:00 -4.263    0.0
1 2012-11-05 09:45:00 -4.251    0.0
2 2012-11-07 12:30:00  0.399    0.0
3 2012-11-07 12:45:00  0.412    0.0
4 2012-11-07 13:00:00  0.399    0.0

In [15]:
weather_stations['benedito_novo'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254260 entries, 0 to 254259
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  254260 non-null  datetime64[ns]
 1   nivel      254260 non-null  float64
 2   chuva      254260 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.8 MB

In [16]:
weather_stations['benedito_novo'][weather_stations['benedito_novo'].duplicated()]

                 data_hora   nivel  chuva
74671  2015-01-07 15:15:00   0.548    0.0
74672  2015-01-07 15:30:00   0.545    0.0
74673  2015-01-07 15:45:00   0.539    0.0
74674  2015-01-07 16:00:00   0.541    0.0
79595  2015-02-27 21:15:00   0.510    0.0
...                    ...     ...    ...
187403 2018-10-10 19:00:00 -25.020    0.0
201400 2019-03-06 15:15:00   0.857    0.0
201401 2019-03-06 15:30:00   0.932    0.0
201402 2019-03-06 15:45:00   0.974    0.0
201403 2019-03-06 16:00:00   0.978    0.0

[2501 rows x 3 columns]

In [17]:
print(weather_stations['benedito_novo'][weather_stations['benedito_novo'].data_hora.isna()])
print(weather_stations['benedito_novo'][weather_stations['benedito_novo'].nivel.isna()])
print(weather_stations['benedito_novo'][weather_stations['benedito_novo'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [18]:
print(weather_stations['benedito_novo'][weather_stations['benedito_novo'].nivel < 0])
print(weather_stations['benedito_novo'][weather_stations['benedito_novo'].chuva < 0])

                 data_hora   nivel  chuva
0      2012-11-05 09:30:00  -4.263    0.0
1      2012-11-05 09:45:00  -4.251    0.0
10381  2013-03-03 12:45:00  -0.011    0.0
10382  2013-03-03 13:00:00  -0.022    0.0
10383  2013-03-03 13:15:00  -0.035    0.0
...                    ...     ...    ...
187552 2018-10-12 08:15:00 -25.020    0.0
187553 2018-10-12 08:30:00 -25.020    0.0
187554 2018-10-12 08:45:00 -25.020    0.0
187555 2018-10-12 09:00:00 -25.020    0.0
187556 2018-10-12 09:15:00 -25.020    0.0

[8400 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Blumenau

In [71]:
weather_stations['blumenau'].head()

            data_hora  nivel  chuva
0 2009-01-16 17:30:00 -2.644  0.000
1 2009-01-16 17:45:00  1.156  0.254
2 2009-01-16 18:00:00  1.160  0.000
3 2009-01-16 18:15:00 -4.240  0.000
4 2009-01-16 18:30:00 -4.240  0.000

In [72]:
weather_stations['blumenau'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399799 entries, 0 to 399798
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  399799 non-null  datetime64[ns]
 1   nivel      399799 non-null  float64
 2   chuva      399799 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 9.2 MB

In [73]:
weather_stations['blumenau'][weather_stations['blumenau'].duplicated()]

                 data_hora  nivel  chuva
3167   2009-02-18 16:15:00 -4.240  0.000
3168   2009-02-18 16:30:00 -4.240  0.000
3169   2009-02-18 16:45:00 -4.240  0.000
7287   2009-01-16 17:30:00 -2.644  0.000
7288   2009-01-16 17:45:00  1.156  0.254
...                    ...    ...    ...
386373 2020-04-20 10:45:00 -0.088  0.000
386374 2020-04-20 11:00:00 -0.090  0.000
386375 2020-04-20 11:15:00 -0.024  0.000
386376 2020-04-20 11:30:00 -0.009  0.000
386377 2020-04-20 11:45:00  0.062  0.000

[14006 rows x 3 columns]

In [74]:
print(weather_stations['blumenau'][weather_stations['blumenau'].data_hora.isna()])
print(weather_stations['blumenau'][weather_stations['blumenau'].nivel.isna()])
print(weather_stations['blumenau'][weather_stations['blumenau'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [75]:
print(weather_stations['blumenau'][weather_stations['blumenau'].nivel < 0])
print(weather_stations['blumenau'][weather_stations['blumenau'].chuva < 0])

                 data_hora  nivel  chuva
0      2009-01-16 17:30:00 -2.644    0.0
3      2009-01-16 18:15:00 -4.240    0.0
4      2009-01-16 18:30:00 -4.240    0.0
5      2009-01-16 18:45:00 -4.240    0.0
7      2009-01-16 19:15:00 -4.240    0.0
...                    ...    ...    ...
397146 2020-08-10 16:00:00 -0.016    0.0
397184 2020-08-11 01:30:00 -0.002    0.0
397185 2020-08-11 01:45:00 -0.028    0.0
397186 2020-08-11 02:00:00 -0.032    0.0
397187 2020-08-11 02:15:00 -0.030    0.0

[79700 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Gaspar

In [ ]:
weather_stations['gaspar'].head()

            data_hora  nivel
0 2012-03-12 11:15:00 -7.174
1 2012-03-12 11:30:00 -6.671
2 2012-03-12 11:45:00 -6.903
3 2012-03-12 12:00:00 -6.890
4 2012-03-12 12:15:00 -6.858

In [ ]:
weather_stations['gaspar'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156624 entries, 0 to 156623
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  156624 non-null  datetime64[ns]
 1   nivel      156624 non-null  float64
 2   chuva      156624 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 3.6 MB

In [ ]:
weather_stations['gaspar'][weather_stations['gaspar'].duplicated()]

                data_hora  nivel  chuva
97    2012-03-19 15:15:00  0.984    0.0
98    2012-03-19 15:30:00  0.946    0.0
99    2012-03-19 15:45:00  0.921    0.0
100   2012-03-19 16:00:00  0.879    0.0
101   2012-03-19 16:15:00  0.841    0.0
102   2012-03-19 16:30:00  0.795    0.0
103   2012-03-19 16:45:00  0.740    0.0
104   2012-03-19 17:00:00  0.694    0.0
105   2012-03-19 17:15:00  0.644    3.6
106   2012-03-19 17:30:00  0.585    0.0
107   2012-03-19 17:45:00  0.543    0.0
108   2012-03-19 18:00:00  0.488    0.0
109   2012-03-19 18:15:00  0.442    0.0
110   2012-03-19 18:30:00  0.386    0.0
111   2012-03-19 18:45:00  0.342    0.0
112   2012-03-19 19:00:00  0.304    0.0
113   2012-03-19 19:15:00  0.256    0.0
114   2012-03-19 19:30:00  0.224    0.0
115   2012-03-19 19:45:00  0.186    0.0
116   2012-03-19 20:00:00  0.153    0.0
43587 2015-01-07 15:15:00  1.266    0.0
43588 2015-01-07 15:30:00  1.294    0.0
43589 2015-01-07 15:45:00  1.319    0.0
43590 2015-01-07 16:00:00  1.386    0.0

In [ ]:
print(weather_stations['gaspar'][weather_stations['gaspar'].data_hora.isna()])
print(weather_stations['gaspar'][weather_stations['gaspar'].nivel.isna()])
print(weather_stations['gaspar'][weather_stations['gaspar'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [ ]:
print(weather_stations['gaspar'][weather_stations['gaspar'].nivel < 0])
print(weather_stations['gaspar'][weather_stations['gaspar'].chuva < 0])

                 data_hora  nivel  chuva
0      2012-03-12 11:15:00 -7.174    0.0
1      2012-03-12 11:30:00 -6.671    0.0
2      2012-03-12 11:45:00 -6.903    0.0
3      2012-03-12 12:00:00 -6.890    0.0
4      2012-03-12 12:15:00 -6.858    0.0
...                    ...    ...    ...
156619 2018-08-10 09:00:00 -8.410    0.0
156620 2018-08-10 09:15:00 -8.410    0.0
156621 2018-08-10 09:30:00 -8.410    0.0
156622 2018-08-10 09:45:00 -8.410    0.0
156623 2018-08-10 10:00:00 -8.410    0.0

[21820 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Ibirama

In [ ]:
weather_stations['ibirama'].head()

            data_hora  nivel  chuva
0 2008-12-28 15:00:00  0.940    0.0
1 2008-12-28 15:15:00  0.940    0.0
2 2008-12-28 15:30:00  0.942    0.0
3 2008-12-28 15:45:00  0.940    0.0
4 2008-12-28 16:00:00  0.937    0.0

In [ ]:
weather_stations['ibirama'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440592 entries, 0 to 440591
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  440592 non-null  datetime64[ns]
 1   nivel      440592 non-null  float64
 2   chuva      440592 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 10.1 MB

In [ ]:
weather_stations['ibirama'][weather_stations['ibirama'].duplicated()]

                 data_hora  nivel  chuva
24323  2009-09-08 01:00:00  1.176    0.0
24324  2009-09-08 01:15:00  1.176    0.0
24325  2009-09-08 01:30:00  1.175    0.2
24326  2009-09-08 01:45:00  1.186    3.6
58663  2010-10-26 13:15:00  1.123    0.0
...                    ...    ...    ...
435049 2020-07-11 13:30:00  0.859    0.0
435050 2020-07-11 13:45:00  0.859    0.0
435051 2020-07-11 14:00:00  0.863    0.2
435052 2020-07-11 14:15:00  0.863    0.0
435053 2020-07-11 14:30:00  0.867    0.0

[65125 rows x 3 columns]

In [ ]:
print(weather_stations['ibirama'][weather_stations['ibirama'].data_hora.isna()])
print(weather_stations['ibirama'][weather_stations['ibirama'].nivel.isna()])
print(weather_stations['ibirama'][weather_stations['ibirama'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [ ]:
print(weather_stations['ibirama'][weather_stations['ibirama'].nivel < 0])
print(weather_stations['ibirama'][weather_stations['ibirama'].chuva < 0])

                 data_hora   nivel  chuva
57038  2010-08-15 14:30:00  -0.890    0.0
57039  2010-08-15 14:45:00  -0.890    0.0
57040  2010-08-15 15:00:00  -0.890    0.0
57041  2010-08-15 15:15:00  -0.890    0.0
57042  2010-08-15 15:30:00  -0.890    0.0
...                    ...     ...    ...
373077 2018-11-11 11:30:00 -15.680    0.0
373078 2018-11-11 11:45:00 -15.660    0.0
373079 2018-11-11 12:00:00 -15.640    0.0
423642 2020-03-17 01:15:00  -0.521    0.0
434832 2020-07-09 07:15:00  -0.867    0.0

[39769 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Indaial

In [ ]:
weather_stations['indaial'].head()

            data_hora  nivel  chuva
0 2009-01-08 16:45:00  0.727    0.0
1 2009-01-08 17:00:00  1.759    0.0
2 2009-01-08 17:15:00  1.759    0.0
3 2009-01-08 17:30:00  1.758    0.0
4 2009-01-08 17:45:00  1.759    0.0

In [ ]:
weather_stations['indaial'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318274 entries, 0 to 318273
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  318274 non-null  datetime64[ns]
 1   nivel      318274 non-null  float64
 2   chuva      318274 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 7.3 MB

In [ ]:
weather_stations['indaial'][weather_stations['indaial'].duplicated()]

                 data_hora  nivel  chuva
19604  2009-09-08 01:00:00  1.590    0.0
19605  2009-09-08 01:15:00  1.595    0.0
19606  2009-09-08 01:30:00  1.592    0.0
19607  2009-09-08 01:45:00  1.610    0.0
19744  2009-09-09 11:15:00  3.167    0.0
...                    ...    ...    ...
282602 2017-11-02 06:00:00  1.547    0.0
301550 2018-05-18 15:15:00  1.126    0.0
301551 2018-05-18 15:30:00  1.115    0.0
301552 2018-05-18 15:45:00  1.123    0.0
301553 2018-05-18 16:00:00  1.117    0.0

[18021 rows x 3 columns]

In [ ]:
print(weather_stations['indaial'][weather_stations['indaial'].data_hora.isna()])
print(weather_stations['indaial'][weather_stations['indaial'].nivel.isna()])
print(weather_stations['indaial'][weather_stations['indaial'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [ ]:
print(weather_stations['indaial'][weather_stations['indaial'].nivel < 0])
print(weather_stations['indaial'][weather_stations['indaial'].chuva < 0])

                 data_hora  nivel  chuva
1035   2009-01-19 16:45:00 -0.800  0.000
1036   2009-01-19 17:00:00 -0.800  0.000
1037   2009-01-19 17:15:00 -0.800  1.270
1038   2009-01-19 17:30:00 -0.800  0.254
1039   2009-01-19 17:45:00 -0.800  0.762
...                    ...    ...    ...
189556 2014-12-03 10:00:00 -5.029  0.000
189557 2014-12-03 10:15:00 -5.029  0.000
189558 2014-12-03 10:30:00 -5.029  0.000
189559 2014-12-03 10:45:00 -5.029  0.000
189560 2014-12-03 11:00:00 -5.029  0.000

[52016 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Ituporanga

In [150]:
weather_stations['ituporanga'].head()

            data_hora  nivel  chuva
0 2008-12-30 14:30:00  0.593    0.0
1 2008-12-30 14:45:00  0.589    0.0
2 2008-12-30 19:00:00  0.595    0.0
3 2008-12-30 19:15:00  0.596    0.0
4 2008-12-30 19:30:00  0.595    0.0

In [151]:
weather_stations['ituporanga'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382244 entries, 0 to 382243
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  382244 non-null  datetime64[ns]
 1   nivel      382244 non-null  float64
 2   chuva      382244 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 8.7 MB

In [152]:
weather_stations['ituporanga'][weather_stations['ituporanga'].duplicated()]

                 data_hora  nivel  chuva
19137  2009-09-08 01:00:00  0.620  0.254
19138  2009-09-08 01:15:00  0.619  2.286
19139  2009-09-08 01:30:00  0.676  5.588
19140  2009-09-08 01:45:00  0.694  4.572
19277  2009-09-09 11:00:00  0.721  0.254
...                    ...    ...    ...
377284 2020-07-11 09:15:00  0.435  0.000
377285 2020-07-11 09:30:00  0.430  0.000
377286 2020-07-11 09:45:00  0.429  0.000
377287 2020-07-11 10:00:00  0.427  0.000
377288 2020-07-11 10:15:00  0.425  0.000

[14354 rows x 3 columns]

In [153]:
print(weather_stations['ituporanga'][weather_stations['ituporanga'].data_hora.isna()])
print(weather_stations['ituporanga'][weather_stations['ituporanga'].nivel.isna()])
print(weather_stations['ituporanga'][weather_stations['ituporanga'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [154]:
print(weather_stations['ituporanga'][weather_stations['ituporanga'].nivel < 0])
print(weather_stations['ituporanga'][weather_stations['ituporanga'].chuva < 0])

                 data_hora  nivel  chuva
1536   2009-01-15 18:30:00 -2.569    0.0
1628   2009-01-16 17:30:00 -0.781    0.0
1809   2009-01-18 14:45:00 -0.531    0.0
1810   2009-01-18 15:00:00 -0.069    0.0
1811   2009-01-18 15:15:00 -2.706    0.0
...                    ...    ...    ...
373681 2020-06-05 23:45:00 -0.026    0.0
373682 2020-06-06 00:00:00 -0.025    0.0
373683 2020-06-06 00:15:00 -0.017    0.0
373684 2020-06-06 00:30:00 -0.021    0.0
373685 2020-06-06 00:45:00 -0.007    0.0

[82473 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Pouso Redondo

In [ ]:
weather_stations['pouso_redondo'].head()

In [7]:
weather_stations['pouso_redondo'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238770 entries, 0 to 238769
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  238770 non-null  datetime64[ns]
 1   nivel      238770 non-null  float64
 2   chuva      238770 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.5 MB

In [ ]:
weather_stations['pouso_redondo'][weather_stations['pouso_redondo'].duplicated()]

In [5]:
print(weather_stations['pouso_redondo'][weather_stations['pouso_redondo'].data_hora.isna()])
print(weather_stations['pouso_redondo'][weather_stations['pouso_redondo'].nivel.isna()])
print(weather_stations['pouso_redondo'][weather_stations['pouso_redondo'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [6]:
print(weather_stations['pouso_redondo'][weather_stations['pouso_redondo'].nivel < 0])
print(weather_stations['pouso_redondo'][weather_stations['pouso_redondo'].chuva < 0])

                 data_hora  nivel  chuva
0      2009-01-08 11:00:00 -2.261    0.0
1      2009-01-08 11:15:00 -1.816    0.8
2      2009-01-08 11:30:00 -1.796    0.0
3      2009-01-08 11:45:00 -1.760    0.0
4      2009-01-08 12:00:00 -1.751    0.0
...                    ...    ...    ...
238765 2016-07-08 12:00:00 -5.075    0.0
238766 2016-07-08 12:15:00 -5.075    0.0
238767 2016-07-08 12:30:00 -5.075    0.0
238768 2016-07-08 12:45:00 -5.071    0.0
238769 2016-07-08 13:00:00 -5.071    0.0

[238649 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Rio do Oeste

In [ ]:
weather_stations['rio_do_oeste'].head()

            data_hora  nivel  chuva
0 2009-01-07 18:00:00 -1.830    0.0
1 2009-01-07 18:15:00 -1.830    0.0
2 2009-01-07 18:30:00 -1.830    0.0
3 2009-01-07 18:45:00 -1.830    0.0
4 2009-01-07 19:00:00  2.714    0.0

In [ ]:
weather_stations['rio_do_oeste'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347199 entries, 0 to 347198
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  347199 non-null  datetime64[ns]
 1   nivel      347199 non-null  float64
 2   chuva      347199 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 7.9 MB

In [ ]:
weather_stations['rio_do_oeste'][weather_stations['rio_do_oeste'].duplicated()]

                 data_hora  nivel   chuva
23359  2009-09-08 01:00:00  0.883   0.000
23360  2009-09-08 01:15:00  0.879   2.032
23361  2009-09-08 01:30:00  0.912  13.460
23362  2009-09-08 01:45:00  0.917   1.778
23499  2009-09-09 11:00:00  0.858   0.000
...                    ...    ...     ...
264087 2017-11-02 06:00:00  1.085   0.000
311065 2019-03-06 15:15:00  1.827   0.000
311066 2019-03-06 15:30:00  1.867   0.000
311067 2019-03-06 15:45:00  1.913   0.000
311068 2019-03-06 16:00:00  1.951   0.000

[8562 rows x 3 columns]

In [ ]:
print(weather_stations['rio_do_oeste'][weather_stations['rio_do_oeste'].data_hora.isna()])
print(weather_stations['rio_do_oeste'][weather_stations['rio_do_oeste'].nivel.isna()])
print(weather_stations['rio_do_oeste'][weather_stations['rio_do_oeste'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [ ]:
print(weather_stations['rio_do_oeste'][weather_stations['rio_do_oeste'].nivel < 0])
print(weather_stations['rio_do_oeste'][weather_stations['rio_do_oeste'].chuva < 0])

                 data_hora  nivel  chuva
0      2009-01-07 18:00:00 -1.830  0.000
1      2009-01-07 18:15:00 -1.830  0.000
2      2009-01-07 18:30:00 -1.830  0.000
3      2009-01-07 18:45:00 -1.830  0.000
6529   2009-03-16 18:15:00 -0.001  0.000
...                    ...    ...    ...
303195 2018-12-14 16:15:00 -0.004  0.000
303196 2018-12-14 16:30:00 -0.003  0.000
303197 2018-12-14 16:45:00 -0.007  0.000
303198 2018-12-14 17:00:00 -0.005  0.000
303200 2018-12-14 17:30:00 -0.003  0.254

[30004 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Rio dos Cedros

In [ ]:
weather_stations['rio_dos_cedros'].head()

            data_hora  nivel  chuva
0 2012-11-05 10:00:00 -3.288    0.0
1 2012-11-05 10:15:00 -3.322    0.0
2 2012-11-05 10:30:00 -3.326    0.0
3 2012-11-05 10:45:00 -3.345    0.0
4 2012-11-05 11:00:00 -3.398    0.0

In [ ]:
weather_stations['rio_dos_cedros'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214283 entries, 0 to 214282
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  214283 non-null  datetime64[ns]
 1   nivel      214283 non-null  float64
 2   chuva      214283 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 4.9 MB

In [ ]:
weather_stations['rio_dos_cedros'][weather_stations['rio_dos_cedros'].duplicated()]

                 data_hora  nivel  chuva
32267  2014-02-19 15:15:00  1.011    0.0
62425  2015-01-07 15:15:00  1.091    0.0
62426  2015-01-07 15:30:00  1.095    0.0
62427  2015-01-07 15:45:00  1.097    0.0
62428  2015-01-07 16:00:00  1.098    0.0
...                    ...    ...    ...
167305 2017-11-02 06:00:00  0.666    0.0
208255 2019-03-06 15:15:00  1.073    0.2
208256 2019-03-06 15:30:00  1.086    0.0
208257 2019-03-06 15:45:00  1.094    0.2
208258 2019-03-06 16:00:00  1.105    0.0

[7492 rows x 3 columns]

In [ ]:
print(weather_stations['rio_dos_cedros'][weather_stations['rio_dos_cedros'].data_hora.isna()])
print(weather_stations['rio_dos_cedros'][weather_stations['rio_dos_cedros'].nivel.isna()])
print(weather_stations['rio_dos_cedros'][weather_stations['rio_dos_cedros'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [ ]:
print(weather_stations['rio_dos_cedros'][weather_stations['rio_dos_cedros'].nivel < 0])
print(weather_stations['rio_dos_cedros'][weather_stations['rio_dos_cedros'].chuva < 0])

                 data_hora   nivel  chuva
0      2012-11-05 10:00:00  -3.288    0.0
1      2012-11-05 10:15:00  -3.322    0.0
2      2012-11-05 10:30:00  -3.326    0.0
3      2012-11-05 10:45:00  -3.345    0.0
4      2012-11-05 11:00:00  -3.398    0.0
...                    ...     ...    ...
194418 2018-08-11 16:45:00 -24.160    1.8
194419 2018-08-11 17:00:00 -24.180    2.6
194420 2018-08-11 17:15:00 -24.200    7.4
194421 2018-08-11 17:30:00 -24.220    2.6
194422 2018-08-11 17:45:00 -24.250    1.8

[2900 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Rio do Sul

In [ ]:
weather_stations['rio_do_sul'].head()

            data_hora  nivel  chuva
0 2009-04-09 18:45:00  1.219    0.0
1 2009-04-09 19:00:00  1.219    0.0
2 2009-04-09 19:15:00  1.219    0.0
3 2009-04-09 19:30:00  1.219    0.0
4 2009-04-09 19:45:00  1.222    0.0

In [ ]:
weather_stations['rio_do_sul'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279879 entries, 0 to 279878
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  279879 non-null  datetime64[ns]
 1   nivel      279879 non-null  float64
 2   chuva      279879 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 6.4 MB

In [ ]:
weather_stations['rio_do_sul'][weather_stations['rio_do_sul'].duplicated()]

                 data_hora  nivel  chuva
14512  2009-09-08 01:00:00  2.831  0.000
14513  2009-09-08 01:15:00  2.810  0.000
14514  2009-09-08 01:30:00  2.802  7.112
14515  2009-09-08 01:45:00  2.861  7.366
14652  2009-09-09 11:15:00  4.027  0.000
...                    ...    ...    ...
257541 2016-10-12 03:00:00  2.619  0.000
266142 2017-01-09 17:15:00 -4.839  0.000
266143 2017-01-09 17:30:00 -4.860  0.000
266144 2017-01-09 17:45:00 -4.874  0.000
266145 2017-01-09 18:00:00 -4.874  0.508

[84 rows x 3 columns]

In [ ]:
print(weather_stations['rio_do_sul'][weather_stations['rio_do_sul'].data_hora.isna()])
print(weather_stations['rio_do_sul'][weather_stations['rio_do_sul'].nivel.isna()])
print(weather_stations['rio_do_sul'][weather_stations['rio_do_sul'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [ ]:
print(weather_stations['rio_do_sul'][weather_stations['rio_do_sul'].nivel < 0])
print(weather_stations['rio_do_sul'][weather_stations['rio_do_sul'].chuva < 0])

                 data_hora  nivel  chuva
10830  2009-07-31 15:45:00 -0.800  0.000
10831  2009-07-31 16:00:00 -0.800  0.254
10832  2009-07-31 16:15:00 -0.800  0.762
10833  2009-07-31 16:30:00 -0.800  0.762
10834  2009-07-31 16:45:00 -0.800  0.254
...                    ...    ...    ...
279874 2017-06-04 09:00:00 -5.053  0.000
279875 2017-06-04 09:15:00 -5.053  0.000
279876 2017-06-04 09:30:00 -5.053  0.000
279877 2017-06-04 09:45:00 -5.055  0.762
279878 2017-06-04 10:00:00 -5.053  0.000

[24577 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Analyzing Taio

In [ ]:
weather_stations['taio'].head()

            data_hora  nivel  chuva
0 2008-12-29 15:00:00   -2.5    0.0
1 2008-12-29 15:15:00   -2.5    0.0
2 2008-12-29 15:30:00   -2.5    0.0
3 2008-12-29 15:45:00   -2.5    0.0
4 2008-12-29 16:00:00   -2.5    0.0

In [ ]:
weather_stations['taio'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412547 entries, 0 to 412546
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  412547 non-null  datetime64[ns]
 1   nivel      412547 non-null  float64
 2   chuva      412547 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 9.4 MB

In [ ]:
weather_stations['taio'][weather_stations['taio'].duplicated()]

                 data_hora   nivel  chuva
4141   2009-02-10 17:15:00  -2.500    0.0
4142   2009-02-10 17:30:00  -2.500    0.0
4143   2009-02-10 17:45:00  -2.500    0.0
4144   2009-02-10 18:00:00  -2.500    0.0
24208  2009-09-08 01:00:00   1.722    0.0
...                    ...     ...    ...
406977 2020-07-11 06:45:00 -35.000    0.0
406978 2020-07-11 07:00:00 -35.000    0.0
406979 2020-07-11 07:15:00 -35.000    0.0
406980 2020-07-11 07:30:00 -35.000    0.0
406981 2020-07-11 07:45:00 -35.000    0.0

[17792 rows x 3 columns]

In [25]:
print(weather_stations['taio'][weather_stations['taio'].data_hora.isna()])
print(weather_stations['taio'][weather_stations['taio'].nivel.isna()])
print(weather_stations['taio'][weather_stations['taio'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [244]:
print(weather_stations['taio'][weather_stations['taio'].nivel < 0])
print(weather_stations['taio'][weather_stations['taio'].chuva < 0])

                 data_hora  nivel  chuva
0      2008-12-29 15:00:00   -2.5    0.0
1      2008-12-29 15:15:00   -2.5    0.0
2      2008-12-29 15:30:00   -2.5    0.0
3      2008-12-29 15:45:00   -2.5    0.0
4      2008-12-29 16:00:00   -2.5    0.0
...                    ...    ...    ...
412542 2020-09-07 06:00:00  -35.0    0.0
412543 2020-09-07 06:15:00  -35.0    0.0
412544 2020-09-07 06:30:00  -35.0    0.0
412545 2020-09-07 06:45:00  -35.0    0.0
412546 2020-09-07 07:00:00  -35.0    0.0

[44813 rows x 3 columns]
                 data_hora  nivel   chuva
298492 2017-06-10 20:15:00 -12.05 -7475.0

### Analyzing Timbo

In [263]:
weather_stations['timbo'].head()

            data_hora  nivel  chuva
0 2009-04-12 18:00:00  0.675    0.0
1 2009-04-12 18:15:00  0.674    0.0
2 2009-04-12 18:30:00  0.674    0.0
3 2009-04-12 18:45:00  0.674    0.0
4 2009-04-12 19:00:00  0.674    0.0

In [264]:
weather_stations['timbo'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385145 entries, 0 to 385144
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   data_hora  385145 non-null  datetime64[ns]
 1   nivel      385145 non-null  float64
 2   chuva      385145 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 8.8 MB

In [265]:
weather_stations['timbo'][weather_stations['timbo'].duplicated()]

                 data_hora  nivel  chuva
14227  2009-09-08 01:00:00  0.812    0.0
14228  2009-09-08 01:15:00  0.810    0.0
14229  2009-09-08 01:30:00  0.808    0.0
14230  2009-09-08 01:45:00  0.805    0.0
59743  2011-02-22 11:00:00 -2.021    0.0
...                    ...    ...    ...
312016 2018-05-18 16:00:00  0.441    0.0
337918 2019-03-06 15:15:00  1.308    0.0
337919 2019-03-06 15:30:00  1.308    0.0
337920 2019-03-06 15:45:00  1.277    0.0
337921 2019-03-06 16:00:00  1.260    0.0

[28571 rows x 3 columns]

In [266]:
print(weather_stations['timbo'][weather_stations['timbo'].data_hora.isna()])
print(weather_stations['timbo'][weather_stations['timbo'].nivel.isna()])
print(weather_stations['timbo'][weather_stations['timbo'].chuva.isna()])

Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

In [267]:
print(weather_stations['timbo'][weather_stations['timbo'].nivel < 0])
print(weather_stations['timbo'][weather_stations['timbo'].chuva < 0])

                 data_hora  nivel  chuva
46712  2010-08-12 14:45:00 -2.120    0.0
46713  2010-08-12 15:00:00 -2.120    0.0
46714  2010-08-12 15:15:00 -2.120    0.0
46715  2010-08-12 15:30:00 -2.120    0.0
46716  2010-08-12 15:45:00 -2.120    0.0
...                    ...    ...    ...
297425 2017-12-17 15:15:00 -0.036    0.0
297426 2017-12-17 15:30:00 -0.021    0.0
297427 2017-12-17 15:45:00 -0.036    0.0
297428 2017-12-17 16:00:00 -0.021    0.0
297429 2017-12-17 16:15:00 -0.002    0.0

[26349 rows x 3 columns]
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

Linhas com valores de nÃ­vel do rio negativo indicam problemas no momento da coleta e consequÃªnte inexistÃªncia do dado naquela momento;
Os dados de cada estaÃ§Ã£o possuem valores duplicados que devem ser posteriormente removidos para evitar redundÃ¢ncia de dados;

### Analyzing min/max dates from all stations

In [158]:
len(weather_stations)

14

In [159]:
for weather_station_name in list(weather_stations.keys())[0:-7]:
    min_date_time = weather_stations[weather_station_name].data_hora.min()
    max_date_time = weather_stations[weather_station_name].data_hora.max()
    print(f"EstaÃ§Ã£o {weather_station_name}: \nInicio: {min_date_time}\nFim: {max_date_time}\n")

EstaÃ§Ã£o alfredo_wagner:
Inicio: 2009-07-24 08:00:00
Fim: 2016-10-29 08:00:00

EstaÃ§Ã£o apiuna:
Inicio: 2008-12-28 10:15:00
Fim: 2020-09-07 07:00:00

EstaÃ§Ã£o benedito_novo:
Inicio: 2012-11-05 09:30:00
Fim: 2020-09-07 07:00:00

EstaÃ§Ã£o blumenau:
Inicio: 2009-01-16 17:30:00
Fim: 2020-09-07 07:00:00

EstaÃ§Ã£o gaspar:
Inicio: 2012-03-12 11:15:00
Fim: 2018-08-10 10:00:00

EstaÃ§Ã£o ibirama:
Inicio: 2008-12-28 15:00:00
Fim: 2020-09-07 07:00:00

EstaÃ§Ã£o indaial:
Inicio: 2009-01-08 16:45:00
Fim: 2018-11-10 05:00:00

In [160]:
for weather_station_name in list(weather_stations.keys())[-7:]:
    min_date_time = weather_stations[weather_station_name].data_hora.min()
    max_date_time = weather_stations[weather_station_name].data_hora.max()
    print(f"EstaÃ§Ã£o {weather_station_name}: \nInicio: {min_date_time}\nFim: {max_date_time}\n")

EstaÃ§Ã£o ituporanga:
Inicio: 2008-12-30 14:30:00
Fim: 2020-09-01 01:00:00

EstaÃ§Ã£o pouso_redondo:
Inicio: 2009-01-08 11:00:00
Fim: 2016-07-08 13:00:00

EstaÃ§Ã£o rio_do_oeste:
Inicio: 2009-01-07 18:00:00
Fim: 2020-03-17 01:00:00

EstaÃ§Ã£o rio_dos_cedros:
Inicio: 2012-11-05 10:00:00
Fim: 2019-05-08 10:00:00

EstaÃ§Ã£o rio_do_sul:
Inicio: 2009-04-09 18:45:00
Fim: 2017-06-04 10:00:00

EstaÃ§Ã£o taio:
Inicio: 2008-12-29 15:00:00
Fim: 2020-09-07 07:00:00

EstaÃ§Ã£o timbo:
Inicio: 2009-04-12 18:00:00
Fim: 2020-07-10 16:00:00

In [161]:
# Com base no registro do ultimo caso de enchente acima de 8 metros em Blumenau em junho de 2017 e como algumas estaÃ§Ãµes nÃ£o possuem dados apos esse periodo, os dados serÃ£o trucando ate a data de 11/06/2017
for weather_station in weather_stations:
    weather_stations[weather_station] = weather_stations[weather_station][weather_stations[weather_station].data_hora < datetime(2017, 6, 12)]

## Transform datasets

### Removing duplicated rows

In [162]:
for weather_station in weather_stations:
    weather_stations[weather_station] = weather_stations[weather_station].drop_duplicates()

In [163]:
for weather_station in weather_stations:
    print(weather_station)
    print(weather_stations[weather_station][weather_stations[weather_station].data_hora.duplicated()])

alfredo_wagner
                 data_hora  nivel  chuva
167324 2014-03-09 13:30:00  0.440    0.0
167325 2014-03-09 13:45:00  0.437    0.0
167326 2014-03-09 14:00:00  0.431    0.0
167327 2014-03-09 14:15:00  0.429    0.0
apiuna
                 data_hora  nivel  chuva
69693  2011-02-22 13:30:00  3.426    0.0
69694  2011-02-22 13:45:00  3.425    0.0
69695  2011-02-22 14:00:00  3.425    0.0
69696  2011-02-22 14:15:00  3.423    0.0
105591 2012-03-02 14:45:00  1.656    0.0
105592 2012-03-02 15:00:00  1.656    0.0
105593 2012-03-02 15:15:00  1.656    0.0
162433 2014-02-19 14:45:00  0.965    0.0
162434 2014-02-19 15:00:00  0.963    0.0
162435 2014-02-19 15:15:00  0.963    0.0
162436 2014-02-19 15:30:00  0.963    0.0
benedito_novo
                data_hora  nivel  chuva
44268 2014-02-19 14:45:00  0.328    0.0
44269 2014-02-19 15:00:00  0.328    0.0
44270 2014-02-19 15:15:00  0.336    0.0
44271 2014-02-19 15:30:00  0.333    0.0
blumenau
                 data_hora  nivel  chuva
3166   2009-02-18 16:00:00  1.766   0.00
60616  2010-08-14 09:15:00 -5.195   3.81
79034  2011-02-22 10:30:00  3.316   0.00
79035  2011-02-22 10:45:00  3.299   0.00
79036  2011-02-22 11:00:00  3.270   0.00
79037  2011-02-22 11:15:00  3.262   0.00
168276 2014-02-19 14:45:00  0.510   0.00
168277 2014-02-19 15:00:00  0.524   0.00
168278 2014-02-19 15:15:00  0.539   0.00
168279 2014-02-19 15:30:00  0.554   0.00
gaspar
Empty DataFrame
Columns: [data_hora, nivel]
Index: []
ibirama
                 data_hora  nivel  chuva
5001   2009-02-18 16:15:00  1.625    0.0
5002   2009-02-18 16:30:00  1.617    0.0
5003   2009-02-18 16:45:00  1.651    0.0
5004   2009-02-18 17:00:00  1.638    0.0
105420 2011-06-28 09:00:00  1.439    0.0
105421 2011-06-28 09:15:00  1.441    0.0
105422 2011-06-28 09:30:00  1.439    0.0
105423 2011-06-28 09:45:00  1.434    0.0
167336 2012-03-02 15:30:00  1.318    0.0
167337 2012-03-02 15:45:00  1.320    0.0
167338 2012-03-02 16:00:00  1.323    0.0
167339 2012-03-02 16:15:00  1.320    0.0
235768 2014-02-19 15:00:00  0.969    0.0
235769 2014-02-19 15:15:00  0.970    0.0
235770 2014-02-19 15:30:00  0.978    0.0
indaial
                 data_hora  nivel  chuva
122139 2012-03-02 15:00:00  1.792    0.0
122140 2012-03-02 15:15:00  1.792    0.0
122141 2012-03-02 15:30:00  1.792    0.0
143591 2012-11-04 14:30:00  1.487    0.0
143592 2012-11-04 14:00:00  1.487    0.0
...                    ...    ...    ...
143660 2012-11-05 06:45:00  1.667    0.0
143661 2012-11-05 07:00:00  1.658    0.0
143662 2012-11-05 07:15:00  1.658    0.0
143663 2012-11-05 07:30:00  1.650    0.0
189554 2014-12-03 09:30:00 -5.029    0.0

[75 rows x 3 columns]
ituporanga
                 data_hora  nivel  chuva
155833 2014-02-19 14:45:00  0.409    0.0
155834 2014-02-19 15:00:00  0.396    0.0
155835 2014-02-19 15:15:00  0.392    0.0
155836 2014-02-19 15:30:00  0.392    0.0
175824 2014-10-07 11:30:00 -5.228    0.0
pouso_redondo
                 data_hora  nivel  chuva
74160  2011-02-22 13:30:00 -2.299    0.0
74161  2011-02-22 13:45:00 -2.309    0.0
74162  2011-02-22 14:00:00 -2.309    0.0
74163  2011-02-22 14:15:00 -2.309    0.0
182836 2014-02-19 14:45:00 -2.554    0.0
182837 2014-02-19 15:00:00 -2.558    0.0
182838 2014-02-19 15:15:00 -2.555    0.0
182839 2014-02-19 15:30:00 -2.553    0.0
rio_do_oeste
                 data_hora  nivel  chuva
8897   2009-04-10 10:00:00  0.402  0.508
126780 2014-02-19 14:45:00  0.610  0.000
126781 2014-02-19 15:00:00  0.617  0.000
126782 2014-02-19 15:15:00  0.608  0.000
126783 2014-02-19 15:30:00  0.614  0.000
rio_dos_cedros
                 data_hora  nivel  chuva
32266  2014-02-19 15:00:00  1.009    0.0
32268  2014-02-19 15:30:00  1.007    0.0
56853  2014-11-10 15:15:00  0.960    0.0
56854  2014-11-10 15:30:00  0.965    0.0
110907 2016-05-26 14:30:00  1.151    0.0
rio_do_sul
                 data_hora  nivel  chuva
60064  2011-02-22 10:30:00  4.070  0.000
60065  2011-02-22 10:45:00  4.066  0.000
60066  2011-02-22 11:00:00  4.072  0.000
60067  2011-02-22 11:15:00  4.078  0.000
95995  2012-03-02 15:00:00  1.949  0.000
95996  2012-03-02 15:15:00  1.940  0.000
95998  2012-03-02 15:45:00  1.940  0.000
165080 2014-02-20 09:45:00  1.351  0.000
165081 2014-02-20 10:00:00  1.349  0.000
165082 2014-02-20 10:15:00  1.349  0.000
165083 2014-02-20 10:30:00  1.342  0.000
187046 2014-10-07 10:30:00  4.883  0.254
taio
                 data_hora  nivel  chuva
58457  2010-10-24 13:15:00  1.738  0.000
184274 2014-02-19 15:00:00  0.177  0.000
184275 2014-02-19 15:15:00  0.153  0.000
184276 2014-02-19 15:30:00  0.164  0.000
184277 2014-02-19 15:45:00  0.170  0.000
191420 2014-05-22 13:30:00  1.852  0.762
timbo
                data_hora  nivel  chuva
59741 2011-02-22 10:30:00 -2.019    0.0
59742 2011-02-22 10:45:00 -2.019    0.0
59744 2011-02-22 11:15:00 -2.019    0.0

In [164]:
for weather_station in weather_stations:
    weather_stations[weather_station] = weather_stations[weather_station].drop_duplicates(subset='data_hora')

In [165]:
for weather_station in weather_stations:
    print(weather_station)
    print(weather_stations[weather_station][weather_stations[weather_station].data_hora.duplicated()])

alfredo_wagner
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
apiuna
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
benedito_novo
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
blumenau
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
gaspar
Empty DataFrame
Columns: [data_hora, nivel]
Index: []
ibirama
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
indaial
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
ituporanga
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
pouso_redondo
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
rio_do_oeste
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
rio_dos_cedros
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
rio_do_sul
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
taio
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []
timbo
Empty DataFrame
Columns: [data_hora, nivel, chuva]
Index: []

### Fill negative river level by linear interpolation

In [166]:
# Change negative river level by NaN to interpolation
for weather_station in weather_stations:
    weather_stations[weather_station].nivel = weather_stations[weather_station].nivel.mask(weather_stations[weather_station].nivel < 0)

In [167]:
missing_blumenau_registers = []
blumenau_date_time = weather_stations['blumenau'].data_hora.iloc[0]
interval_between_consecutive_registers = timedelta(minutes=15)
default_river_niver = None
default_precipitation = 0

def save_missing_registers(new_date_time):
    global blumenau_date_time
    register_interval = new_date_time - blumenau_date_time
    interval_ratio = int(register_interval / interval_between_consecutive_registers)

    for i in range(1, interval_ratio):
        missing_date_time = blumenau_date_time + interval_between_consecutive_registers * i
        missing_blumenau_registers.append([missing_date_time, default_river_niver, default_precipitation])

    blumenau_date_time = new_date_time

In [168]:
_ = [save_missing_registers(date_time) for date_time in weather_stations['blumenau'].data_hora.iloc[1:]]
print(f"Quantidade de registros faltantes gerados: {len(missing_blumenau_registers)}")

Quantidade de registros faltantes gerados: 19177

In [169]:
df_blumenau_missing = pd.DataFrame(missing_blumenau_registers, columns=list(weather_stations['blumenau'].columns))

In [170]:
df_blumenau_missing.head()

            data_hora nivel  chuva
0 2009-04-02 07:15:00  None      0
1 2009-04-02 07:30:00  None      0
2 2009-04-02 07:45:00  None      0
3 2009-04-02 08:00:00  None      0
4 2009-04-02 08:15:00  None      0

In [171]:
weather_stations['blumenau'] = weather_stations['blumenau'].append(df_blumenau_missing, ignore_index=True).sort_values('data_hora')

In [172]:
# Sort datasets by datetime to interpolation
for weather_station in weather_stations:
    weather_stations[weather_station] = weather_stations[weather_station].sort_values('data_hora')

In [173]:
# InterpolaÃ§Ã£o linear para valores faltantes por periodos de ate 5 horas
for weather_station in weather_stations:
    weather_stations[weather_station].nivel = weather_stations[weather_station].nivel.interpolate(limit=5*4)

In [174]:
weather_stations['blumenau'][weather_stations['blumenau'].nivel.isna()]

                 data_hora  nivel  chuva
0      2009-01-16 17:30:00    NaN    0.0
275397 2009-04-02 12:15:00    NaN    0.0
275398 2009-04-02 12:30:00    NaN    0.0
275399 2009-04-02 12:45:00    NaN    0.0
275400 2009-04-02 13:00:00    NaN    0.0
...                    ...    ...    ...
294544 2016-07-15 16:00:00    NaN    0.0
294545 2016-07-15 16:15:00    NaN    0.0
294546 2016-07-15 16:30:00    NaN    0.0
294547 2016-07-15 16:45:00    NaN    0.0
294548 2016-07-15 17:00:00    NaN    0.0

[81193 rows x 3 columns]

In [175]:
# Interpolar todos os intervalos de nivel do rio de Blumenau para nÃ£o ter eventos selecionados com lapsos de mediÃ§Ãµes
#weather_stations['blumenau'].nivel = weather_stations['blumenau'].nivel.interpolate()

In [176]:
for weather_station in weather_stations:
    weather_stations[weather_station] = weather_stations[weather_station].rename(columns = {'nivel':f"n_{weather_station}",'chuva':f"c_{weather_station}"})

In [177]:
#weather_stations['blumenau'] = weather_stations['blumenau'].dropna()

In [178]:
df_weather_stations = weather_stations['blumenau']
for weather_station in weather_stations:
    if weather_station == 'blumenau':
        continue
    df_weather_stations = pd.merge(df_weather_stations, weather_stations[weather_station], on='data_hora', how='left')

In [179]:
df_weather_stations.head()

,data_hora,n_blumenau,c_blumenau,n_alfredo_wagner,c_alfredo_wagner,n_apiuna,c_apiuna,n_benedito_novo,c_benedito_novo,n_gaspar,...,n_rio_do_oeste,c_rio_do_oeste,n_rio_dos_cedros,c_rio_dos_cedros,n_rio_do_sul,c_rio_do_sul,n_taio,c_taio,n_timbo,c_timbo
0,2009-01-16 17:30:00,NaN,0.000,NaN,NaN,0.817,0.0,NaN,NaN,NaN,...,1.209,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,2009-01-16 17:45:00,1.156,0.254,NaN,NaN,0.819,0.0,NaN,NaN,NaN,...,1.202,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,2009-01-16 18:00:00,1.160,0.000,NaN,NaN,0.821,0.0,NaN,NaN,NaN,...,1.205,0.1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2009-01-16 18:15:00,1.157,0.000,NaN,NaN,0.820,0.0,NaN,NaN,NaN,...,1.201,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,2009-01-16 18:30:00,1.154,0.000,NaN,NaN,0.781,0.0,NaN,NaN,NaN,...,1.201,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [180]:
len(df_weather_stations)

294554

### Create labels to predictions

In [181]:
# Atualmente sÃ£o utilizados mediÃ§Ãµes a cada 15 minutos, sendo 4 mediÃ§Ãµes por hora, 
# por isso a multiplicaÃ§Ã£o por 4 para ter a quantidade correta de intervalos para a quantidade de horas requerida
three_hours_interval = 3 * 4 
df_weather_stations['n_blumenau_3'] = df_weather_stations.n_blumenau.shift(-three_hours_interval)

six_hours_interval = 6 * 4 
df_weather_stations['n_blumenau_6'] = df_weather_stations.n_blumenau.shift(-six_hours_interval)

nine_hours_interval = 9 * 4 
df_weather_stations['n_blumenau_9'] = df_weather_stations.n_blumenau.shift(-nine_hours_interval)

In [182]:
df_weather_stations.tail()

,data_hora,n_blumenau,c_blumenau,n_alfredo_wagner,c_alfredo_wagner,n_apiuna,c_apiuna,n_benedito_novo,c_benedito_novo,n_gaspar,...,c_rio_dos_cedros,n_rio_do_sul,c_rio_do_sul,n_taio,c_taio,n_timbo,c_timbo,n_blumenau_3,n_blumenau_6,n_blumenau_9
294549,2017-06-11 22:45:00,3.579,0.0,NaN,NaN,3.499,0.0,0.994,0.0,2.602,...,0.0,NaN,NaN,6.530,0.0,1.343,0.0,NaN,NaN,NaN
294550,2017-06-11 23:00:00,3.568,0.0,NaN,NaN,3.490,0.0,0.996,0.0,2.595,...,0.0,NaN,NaN,6.534,0.0,1.341,0.0,NaN,NaN,NaN
294551,2017-06-11 23:15:00,3.568,0.0,NaN,NaN,3.497,0.0,0.994,0.0,2.585,...,0.0,NaN,NaN,6.521,0.0,1.341,0.0,NaN,NaN,NaN
294552,2017-06-11 23:30:00,3.561,0.0,NaN,NaN,3.484,0.2,0.996,0.0,2.583,...,0.0,NaN,NaN,6.499,0.0,1.337,0.0,NaN,NaN,NaN
294553,2017-06-11 23:45:00,3.548,0.0,NaN,NaN,3.484,0.0,0.996,0.0,2.583,...,0.0,NaN,NaN,6.490,0.0,1.337,0.0,NaN,NaN,NaN

In [183]:
# Drop Nan rows to prediction labels
df_weather_stations = df_weather_stations.dropna(subset=['n_blumenau', 'n_blumenau_3', 'n_blumenau_6', 'n_blumenau_9'])

In [184]:
# Drop last rows to prediction labels
#df_weather_stations = df_weather_stations.iloc[:-nine_hours_interval]

In [185]:
df_weather_stations.tail()

,data_hora,n_blumenau,c_blumenau,n_alfredo_wagner,c_alfredo_wagner,n_apiuna,c_apiuna,n_benedito_novo,c_benedito_novo,n_gaspar,...,c_rio_dos_cedros,n_rio_do_sul,c_rio_do_sul,n_taio,c_taio,n_timbo,c_timbo,n_blumenau_3,n_blumenau_6,n_blumenau_9
294513,2017-06-11 13:45:00,3.651,0.0,NaN,NaN,3.619,0.0,1.039,0.0,2.551,...,0.0,NaN,NaN,6.813,0.0,1.385,0.0,3.691,3.697,3.579
294514,2017-06-11 14:00:00,3.646,0.0,NaN,NaN,3.610,0.0,1.039,0.0,2.558,...,0.0,NaN,NaN,6.804,0.0,1.383,0.0,3.701,3.681,3.568
294515,2017-06-11 14:15:00,3.642,0.0,NaN,NaN,3.625,0.0,1.029,0.0,2.564,...,0.0,NaN,NaN,6.795,0.0,1.391,0.0,3.702,3.689,3.568
294516,2017-06-11 14:30:00,3.663,0.0,NaN,NaN,3.615,0.0,1.025,0.0,2.581,...,0.0,NaN,NaN,6.789,0.0,1.380,0.0,3.715,3.670,3.561
294517,2017-06-11 14:45:00,3.659,0.0,NaN,NaN,3.615,0.0,1.023,0.0,2.602,...,0.0,NaN,NaN,6.787,0.0,1.384,0.0,3.719,3.668,3.548

In [186]:
#Depois de remover as linhas com registros sem informaÃ§Ãµes para blumenau, contabilizar os indices dessas posiÃ§Ãµes para depois remover os periodos com registros faltantes
still_missing_blumenau_river_level_indexes = []
actual_index = df_weather_stations.index[0]

def save_missing_registers(new_index):
    global actual_index
    index_diff = new_index - actual_index
    if index_diff > 1:
        still_missing_blumenau_river_level_indexes.append((actual_index, new_index))

    actual_index = new_index

In [187]:
_ = [save_missing_registers(index) for index in df_weather_stations.index[1:]]
print(f"Quantidade de registros faltantes gerados: {len(still_missing_blumenau_river_level_indexes)}")

Quantidade de registros faltantes gerados: 245

In [188]:
still_missing_blumenau_river_level_indexes[140:160]

[(86184, 86267),
 (86320, 86327),
 (86332, 86339),
 (86344, 86351),
 (86356, 86363),
 (86701, 86712),
 (86713, 86724),
 (86725, 86736),
 (86737, 86748),
 (86800, 86807),
 (86812, 86819),
 (86824, 86831),
 (86836, 86843),
 (87269, 87324),
 (87842, 87902),
 (87920, 87993),
 (92620, 92698),
 (96430, 109410),
 (113395, 113397),
 (113407, 113409)]

In [189]:
len(df_weather_stations)

209327

In [190]:
df_weather_stations.to_csv('..\data\ceops_v1\estacoes_consolidado.csv', float_format='%.3f', index=False)

In [191]:
registers_interval_over_flood_events = 24 * 4

In [192]:
river_level = 4
flood_levels_index = list(df_weather_stations[df_weather_stations.n_blumenau >= river_level].index)

In [193]:
df_weather_stations[df_weather_stations.n_blumenau >= 11]

,data_hora,n_blumenau,c_blumenau,n_alfredo_wagner,c_alfredo_wagner,n_apiuna,c_apiuna,n_benedito_novo,c_benedito_novo,n_gaspar,...,c_rio_dos_cedros,n_rio_do_sul,c_rio_do_sul,n_taio,c_taio,n_timbo,c_timbo,n_blumenau_3,n_blumenau_6,n_blumenau_9
92698,2011-09-09 08:00:00,12.6000,0.0,2.949,0.000,10.23,0.0,NaN,NaN,NaN,...,NaN,12.67,0.0,10.58,0.0,9.86,0.0,12.65,12.62,12.43
92699,2011-09-09 08:15:00,12.6300,0.0,2.886,0.254,10.16,0.0,NaN,NaN,NaN,...,NaN,12.68,0.0,10.60,0.0,9.83,0.0,12.66,12.65,12.38
92700,2011-09-09 08:30:00,12.6500,0.0,2.888,0.000,10.10,0.0,NaN,NaN,NaN,...,NaN,12.70,0.0,10.62,0.0,9.86,0.0,12.65,12.62,12.35
92701,2011-09-09 08:45:00,12.6800,0.0,2.849,0.000,10.15,0.0,NaN,NaN,NaN,...,NaN,12.74,0.0,10.65,0.0,9.86,0.0,12.68,12.62,12.33
92702,2011-09-09 09:00:00,12.6300,0.0,2.828,0.000,10.02,0.0,NaN,NaN,NaN,...,NaN,12.76,0.0,10.67,0.0,9.85,0.0,12.65,12.57,12.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92780,2011-09-10 04:30:00,11.1150,0.0,1.703,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,12.92,0.0,11.32,0.0,NaN,NaN,10.81,10.51,10.14
92781,2011-09-10 04:45:00,11.0895,0.0,1.701,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,12.92,0.0,11.32,0.0,NaN,NaN,10.79,10.50,10.12
92782,2011-09-10 05:00:00,11.0640,0.0,1.699,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,12.89,0.0,11.31,0.0,NaN,NaN,10.78,10.46,10.13
92783,2011-09-10 05:15:00,11.0385,0.0,1.693,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,12.85,0.0,11.31,0.0,NaN,NaN,10.73,10.41,10.09
92784,2011-09-10 05:30:00,11.0130,0.0,1.692,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,12.88,0.0,11.30,0.0,NaN,NaN,10.72,10.39,10.07

In [194]:
len(flood_levels_index)

12208

In [195]:
flood_levels_range_index = []
for flood_level_index in flood_levels_index:
    start_range = flood_level_index - registers_interval_over_flood_events
    end_range = flood_level_index + registers_interval_over_flood_events

    indexs_to_remove = set()
    new_start_ranges = []
    new_end_ranges = []
    for i, flood_level_range_index in enumerate(flood_levels_range_index):
        other_start_range = flood_level_range_index[0]
        other_end_range = flood_level_range_index[1]
        if other_start_range <= start_range <= other_end_range:
            indexs_to_remove.add(i)
            new_start_ranges.append(other_start_range)

        if other_start_range <= end_range <= other_end_range:
            indexs_to_remove.add(i)
            new_end_ranges.append(other_end_range)

    if indexs_to_remove:
        for index_to_remove in indexs_to_remove:
            del flood_levels_range_index[index_to_remove]
        
        new_start_range = min(new_start_ranges) if new_start_ranges else start_range
        new_end_range = max(new_end_ranges) if new_end_ranges else end_range
        flood_levels_range_index.append([new_start_range, new_end_range])
    else:
        flood_levels_range_index.append([start_range, end_range])

In [196]:
len(flood_levels_range_index)

39

In [197]:
flood_levels_range_index

[[235, 468],
 [16860, 17090],
 [18768, 19179],
 [20578, 20859],
 [22610, 23183],
 [24338, 24810],
 [34656, 34958],
 [65881, 66136],
 [71172, 71587],
 [72412, 73147],
 [73572, 73803],
 [75118, 75370],
 [77052, 77302],
 [85985, 86389],
 [88767, 89343],
 [89626, 90131],
 [91000, 91295],
 [91645, 92232],
 [92338, 93594],
 [123519, 124328],
 [155133, 155447],
 [157955, 158481],
 [159986, 160216],
 [161529, 161739],
 [163861, 164907],
 [174872, 175221],
 [180584, 180788],
 [188815, 189900],
 [190730, 191555],
 [199770, 200375],
 [234619, 235016],
 [235731, 237948],
 [238273, 238671],
 [249802, 250229],
 [257440, 257698],
 [262748, 262968],
 [266086, 266574],
 [271914, 272196],
 [293023, 294570]]

In [198]:
df_weather_stations.iloc[262724:262992]

Empty DataFrame
Columns: [data_hora, n_blumenau, c_blumenau, n_alfredo_wagner, c_alfredo_wagner, n_apiuna, c_apiuna, n_benedito_novo, c_benedito_novo, n_gaspar, n_ibirama, c_ibirama, n_indaial, c_indaial, n_ituporanga, c_ituporanga, n_pouso_redondo, c_pouso_redondo, n_rio_do_oeste, c_rio_do_oeste, n_rio_dos_cedros, c_rio_dos_cedros, n_rio_do_sul, c_rio_do_sul, n_taio, c_taio, n_timbo, c_timbo, n_blumenau_3, n_blumenau_6, n_blumenau_9]
Index: []

[0 rows x 31 columns]

In [199]:
for still_missing_blumenau_river_level_index in still_missing_blumenau_river_level_indexes:
    start_gap = still_missing_blumenau_river_level_index[0]
    end_gap = still_missing_blumenau_river_level_index[1]
    for i, flood_level_range_index in enumerate(flood_levels_range_index):
        start_flood_range = flood_level_range_index[0]
        end_flood_range = flood_level_range_index[1]
        if start_flood_range < start_gap < end_flood_range or start_flood_range < end_gap < end_flood_range:
            del flood_levels_range_index[i]
            break

In [200]:
len(flood_levels_range_index)

32

In [201]:
flood_levels_range_index

[[235, 468],
 [18768, 19179],
 [20578, 20859],
 [22610, 23183],
 [34656, 34958],
 [65881, 66136],
 [71172, 71587],
 [72412, 73147],
 [73572, 73803],
 [75118, 75370],
 [77052, 77302],
 [88767, 89343],
 [89626, 90131],
 [91000, 91295],
 [91645, 92232],
 [155133, 155447],
 [157955, 158481],
 [159986, 160216],
 [161529, 161739],
 [163861, 164907],
 [174872, 175221],
 [180584, 180788],
 [188815, 189900],
 [199770, 200375],
 [234619, 235016],
 [235731, 237948],
 [238273, 238671],
 [249802, 250229],
 [257440, 257698],
 [266086, 266574],
 [271914, 272196],
 [293023, 294570]]

In [202]:
flood_levels_mask = []
for i in df_weather_stations.index:
    index_with_flood_level = False
    for flood_level_range_index in flood_levels_range_index:
        start_flood_range = flood_level_range_index[0]
        end_flood_range = flood_level_range_index[1]
        if start_flood_range <= i <= end_flood_range:
            index_with_flood_level = True
            break
    flood_levels_mask.append(index_with_flood_level)

In [203]:
len(weather_stations['blumenau'][weather_stations['blumenau'].n_blumenau.isna()])

81193

In [204]:
len(df_weather_stations[df_weather_stations.n_blumenau.isna()])

0

In [205]:
df_weather_stations_events = df_weather_stations.iloc[flood_levels_mask]

In [206]:
len(df_weather_stations_events)

16463

In [207]:
def map_events_by_index(row):
    original_index_list = row.numero_evento.values
    event_number = []
    for original_index in original_index_list:
        for i, flood_level_range_index in enumerate(flood_levels_range_index, 1):
            start_flood_range = flood_level_range_index[0]
            end_flood_range = flood_level_range_index[1]
            if (start_flood_range <= original_index) & (original_index <= end_flood_range):
                event_number.append(i)
                break
    return event_number

In [208]:
df_weather_stations_events = df_weather_stations_events.assign(numero_evento=df_weather_stations_events.index)
df_weather_stations_events = df_weather_stations_events.assign(numero_evento=lambda row: map_events_by_index(row))

In [209]:
df_weather_stations_events.head()

,data_hora,n_blumenau,c_blumenau,n_alfredo_wagner,c_alfredo_wagner,n_apiuna,c_apiuna,n_benedito_novo,c_benedito_novo,n_gaspar,...,n_rio_do_sul,c_rio_do_sul,n_taio,c_taio,n_timbo,c_timbo,n_blumenau_3,n_blumenau_6,n_blumenau_9,numero_evento
235,2009-01-19 04:15:00,1.74275,0.0,NaN,NaN,0.829,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,1.74225,1.896,2.139,1
236,2009-01-19 04:30:00,1.73950,0.0,NaN,NaN,0.829,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,1.74650,1.932,2.148,1
237,2009-01-19 04:45:00,1.73625,0.0,NaN,NaN,0.827,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,1.75075,1.968,2.157,1
238,2009-01-19 05:00:00,1.73300,0.0,NaN,NaN,0.830,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,1.75500,2.004,2.166,1
239,2009-01-19 05:15:00,1.73525,0.0,NaN,NaN,0.829,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,1.76675,2.026,2.176,1

In [210]:
df_weather_stations_events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16463 entries, 235 to 294517
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_hora         16463 non-null  datetime64[ns]
 1   n_blumenau        16463 non-null  float64
 2   c_blumenau        16463 non-null  float64
 3   n_alfredo_wagner  11233 non-null  float64
 4   c_alfredo_wagner  11737 non-null  float64
 5   n_apiuna          14656 non-null  float64
 6   c_apiuna          14656 non-null  float64
 7   n_benedito_novo   9816 non-null   float64
 8   c_benedito_novo   9816 non-null   float64
 9   n_gaspar          9579 non-null   float64
 10  n_ibirama         13187 non-null  float64
 11  c_ibirama         16202 non-null  float64
 12  n_indaial         11263 non-null  float64
 13  c_indaial         13921 non-null  float64
 14  n_ituporanga      11082 non-null  float64
 15  c_ituporanga      13192 non-null  float64
 16  n_pouso_redondo   0 non-null      float64
 17  c_pouso_redondo   13369 non-null  float64
 18  n_rio_do_oeste    10954 non-null  float64
 19  c_rio_do_oeste    13294 non-null  float64
 20  n_rio_dos_cedros  8670 non-null   float64
 21  c_rio_dos_cedros  8953 non-null   float64
 22  n_rio_do_sul      14397 non-null  float64
 23  c_rio_do_sul      15289 non-null  float64
 24  n_taio            14671 non-null  float64
 25  c_taio            16286 non-null  float64
 26  n_timbo           12610 non-null  float64
 27  c_timbo           14754 non-null  float64
 28  n_blumenau_3      16463 non-null  float64
 29  n_blumenau_6      16463 non-null  float64
 30  n_blumenau_9      16463 non-null  float64
 31  numero_evento     16463 non-null  int64
dtypes: datetime64[ns](1), float64(30), int64(1)
memory usage: 4.1 MB

In [211]:
len(df_weather_stations_events.columns)

32

In [212]:
len(df_weather_stations_events.dropna(axis=1, thresh=13000).columns)

20

In [213]:
df_weather_stations_events.dropna(axis=1, thresh=13000, inplace=True)

### Preenche valores vazios de chuva com zero

In [214]:
for rain_column in list(df_weather_stations_events.filter(regex='c_.*').columns):
    df_weather_stations_events[rain_column].fillna(value=0, inplace=True)

In [215]:
df_weather_stations_events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16463 entries, 235 to 294517
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_hora        16463 non-null  datetime64[ns]
 1   n_blumenau       16463 non-null  float64
 2   c_blumenau       16463 non-null  float64
 3   n_apiuna         14656 non-null  float64
 4   c_apiuna         16463 non-null  float64
 5   n_ibirama        13187 non-null  float64
 6   c_ibirama        16463 non-null  float64
 7   c_indaial        16463 non-null  float64
 8   c_ituporanga     16463 non-null  float64
 9   c_pouso_redondo  16463 non-null  float64
 10  c_rio_do_oeste   16463 non-null  float64
 11  n_rio_do_sul     14397 non-null  float64
 12  c_rio_do_sul     16463 non-null  float64
 13  n_taio           14671 non-null  float64
 14  c_taio           16463 non-null  float64
 15  c_timbo          16463 non-null  float64
 16  n_blumenau_3     16463 non-null  float64
 17  n_blumenau_6     16463 non-null  float64
 18  n_blumenau_9     16463 non-null  float64
 19  numero_evento    16463 non-null  int64
dtypes: datetime64[ns](1), float64(18), int64(1)
memory usage: 2.6 MB

### Preenche os valores vazios de nivel do rio pela mediana, considerando que nesse cenario ja foi feito uma interpolaÃ§Ã£o linear para periodos de ate 5 horas sem registros

In [216]:
for river_level_column in list(df_weather_stations_events.filter(regex='n_.*').columns):
    df_weather_stations_events[river_level_column].fillna(df_weather_stations_events.groupby('numero_evento')[river_level_column].transform('median'), inplace=True)

In [217]:
#Existem eventos em que determinadas estaÃ§Ãµes nÃ£o possuem nenhuma mediÃ§Ã£o do nivel do rio e com isso nÃ£o foi possivel preencher pela mediana das mediÃ§Ãµes validas por nÃ£o existir mediÃ§Ã£o valida
df_weather_stations_events.count()[df_weather_stations_events.count() != len(df_weather_stations_events)]

n_ibirama       13448
n_rio_do_sul    14451
n_taio          15493
dtype: int64

### Preenche os valores vazios de estaÃ§Ãµes sem mediÃ§Ã£o do nivel do rio durante todo um evento com a media da estaÃ§Ã£o durante todos os eventos

In [218]:
for river_level_column in list(df_weather_stations_events.filter(regex='n_.*').columns):
    df_weather_stations_events[river_level_column].fillna(df_weather_stations_events[river_level_column].median(), inplace=True)

In [219]:
df_weather_stations_events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16463 entries, 235 to 294517
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_hora        16463 non-null  datetime64[ns]
 1   n_blumenau       16463 non-null  float64
 2   c_blumenau       16463 non-null  float64
 3   n_apiuna         16463 non-null  float64
 4   c_apiuna         16463 non-null  float64
 5   n_ibirama        16463 non-null  float64
 6   c_ibirama        16463 non-null  float64
 7   c_indaial        16463 non-null  float64
 8   c_ituporanga     16463 non-null  float64
 9   c_pouso_redondo  16463 non-null  float64
 10  c_rio_do_oeste   16463 non-null  float64
 11  n_rio_do_sul     16463 non-null  float64
 12  c_rio_do_sul     16463 non-null  float64
 13  n_taio           16463 non-null  float64
 14  c_taio           16463 non-null  float64
 15  c_timbo          16463 non-null  float64
 16  n_blumenau_3     16463 non-null  float64
 17  n_blumenau_6     16463 non-null  float64
 18  n_blumenau_9     16463 non-null  float64
 19  numero_evento    16463 non-null  int64
dtypes: datetime64[ns](1), float64(18), int64(1)
memory usage: 2.6 MB

### RemoÃ§Ã£o de outliears

In [220]:
df_weather_stations_events.min()

data_hora          2009-01-19 04:15:00
n_blumenau                       0.811
c_blumenau                         0.0
n_apiuna                         0.827
c_apiuna                           0.0
n_ibirama                        0.901
c_ibirama                          0.0
c_indaial                          0.0
c_ituporanga                       0.0
c_pouso_redondo                    0.0
c_rio_do_oeste                     0.0
n_rio_do_sul                     1.698
c_rio_do_sul                       0.0
n_taio                           0.397
c_taio                         -7475.0
c_timbo                            0.0
n_blumenau_3                     0.811
n_blumenau_6                     0.811
n_blumenau_9                     0.811
numero_evento                        1
dtype: object

In [221]:
df_weather_stations_events.max()

data_hora          2017-06-11 14:45:00
n_blumenau                       10.51
c_blumenau                       18.54
n_apiuna                          8.05
c_apiuna                          16.2
n_ibirama                        4.677
c_ibirama                         15.4
c_indaial                        17.53
c_ituporanga                     10.92
c_pouso_redondo                  24.38
c_rio_do_oeste                   17.53
n_rio_do_sul                     10.82
c_rio_do_sul                     16.76
n_taio                           10.95
c_taio                           27.94
c_timbo                          17.53
n_blumenau_3                     10.51
n_blumenau_6                     10.51
n_blumenau_9                     10.51
numero_evento                       32
dtype: object

In [222]:
# Change negative rain by NaN to 0
for rain_column in df_weather_stations_events.filter(regex='c_.*').columns:
    df_weather_stations_events[rain_column] = df_weather_stations_events[rain_column].mask(df_weather_stations_events[rain_column] < 0, other=0)

In [223]:
df_weather_stations_events.min()

data_hora          2009-01-19 04:15:00
n_blumenau                       0.811
c_blumenau                         0.0
n_apiuna                         0.827
c_apiuna                           0.0
n_ibirama                        0.901
c_ibirama                          0.0
c_indaial                          0.0
c_ituporanga                       0.0
c_pouso_redondo                    0.0
c_rio_do_oeste                     0.0
n_rio_do_sul                     1.698
c_rio_do_sul                       0.0
n_taio                           0.397
c_taio                             0.0
c_timbo                            0.0
n_blumenau_3                     0.811
n_blumenau_6                     0.811
n_blumenau_9                     0.811
numero_evento                        1
dtype: object

## Save final dataset

In [224]:
df_weather_stations_events.to_csv('..\data\ceops_v1\estacoes_eventos_nivel_rio.csv', float_format='%.3f', index=False)